
* {
    -fx-primary-color: #00aeef;
    -fx-primary-color-background: rgba(0, 174, 239, 0.25);
    -fx-secondary-color: #34C38F;
    -fx-page-background: #f5f6f8;
    -fx-error-background : #f46a6a;

    -fx-error-background-background: rgba(244, 106, 106, 0.25);


}


.TForm .inputHolder {
    -fx-padding: 10px;
}

.TForm .inputHolder .label{
    -fx-font-weight: 600;
    -fx-font-size: 14px;

    -fx-padding: 0 0 4px 0;

}

.TForm .inputHolder  .inputField{
    -fx-font-size: 18px;
}

.error_message{
    -fx-background-color:  -fx-error-background-background;
    -fx-border-color:  -fx-error-background;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-start-margin: 15px;

}
.error_message .msg{

    -fx-fill: -fx-error-background;
    -fx-font-size: 22px;


}

.errorLabel{
    -fx-text-fill: -fx-error-background;
}


.succ_msg_holder{
    -fx-background-color:  -fx-primary-color-background;
    -fx-border-color:  -fx-secondary-color;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-start-margin: 15px;

}
.succ_msg_holder .succ_msg{

    -fx-fill: -fx-secondary-color;
    -fx-font-size: 22px;


}
