* {
    -fx-primary-color: #00aeef;
    -fx-primary-color-background: rgba(0, 174, 239, 0.25);
    -fx-secondary-color: #34C38F;
    -fx-secondary-color-background: rgba(52, 195, 143, 0.25);
    -fx-third-color: #9016b2;
    -fx-third-color-background: rgba(144, 22, 178, 0.25);
    -fx-page-background: #f5f6f8;
    -fx-error-background : #f46a6a;
    -fx-error-background-background: rgba(244, 106, 106, 0.25);

    -fx-main-text-color: #757783 ;
}

.primaryColorBg {
    -fx-background-color: -fx-primary-color;
}
.primaryTextColor  {
    -fx-fill: -fx-primary-color;
}
.btn {
    -fx-cursor: hand;

}

.secondText{
    -fx-fill: -fx-main-text-color;
}

.submitButton {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #fff;
    -fx-font-size: 19px;
    -fx-cursor: hand;

}

.cancelButton {
    -fx-background-color: -fx-error-background ;
    -fx-text-fill: #fff;
    -fx-font-size: 19px;
    -fx-cursor: hand;
}

.uploadBtn {
    -fx-background-color:-fx-primary-color-background ;
    -fx-text-fill: -fx-primary-color;
    -fx-cursor: hand;
}

.secondaryBtn {
    -fx-text-fill: #fff;
    -fx-background-color: -fx-secondary-color;
    -fx-font-size: 19px;
    -fx-cursor: hand;
}



.header {

}

.header .menu_item {

    -fx-font-size: 16px;
    -fx-fill: -fx-main-text-color;
    -fx-cursor: hand;

}

.header .menu_item.selected {

    -fx-fill: -fx-primary-color;

}

.header .badge{

    -fx-fill: -fx-primary-color ;
}


.cardInfo{
    -fx-effect: dropshadow(three-pass-box, rgba(222, 227, 236, 0.8), 10, 0, 0, 0);
    -fx-background-radius: 5;
    -fx-background-color: #fff;
    -fx-font-size: 18px;
}


.footer{


    -fx-background-image: url("../assets/mainPage/footer.png");
    -fx-background-repeat: stretch;

    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}


.HomeSeparatorBox{


    -fx-background-image: url("../assets/mainPage/midBanner.png");
    -fx-background-repeat: stretch;

    -fx-background-position: center center;

}






.coursGrid{
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(222, 227, 236, 0.8), 30, 0.5, 0, 0);
}
.coursGrid .addBtnHolder {
    -fx-border-radius: 100;
    -fx-background-radius:100;
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(222, 227, 236, 0.8), 10, 0, 0, 0);
}

.coursGrid .chimp {

    -fx-background-color: -fx-third-color-background;
    -fx-text-fill: -fx-third-color;
    -fx-font-size: 14px;
}